.page-wrapper {
    margin-top: 30px !important;
    display: flex;
    justify-content: center;
}

.page {
    margin: 1px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #72ffff;
}

.page-current {
    margin: 1px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid olivedrab;
}